:root {
  --dark-blue: #1f2937;
  --quote-section-bg: #e5e7eb;
  --button-color: #3882f6;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header,
footer,
.hero-container {
  background-color: var(--dark-blue);
}

.container {
  width: 65vw;
  margin-inline: auto;
}

header {
  padding: 3rem 0 3rem 0;
  color: var(--white);
}

.logo {
  font-size: 2.1rem;
  font-weight: 700;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.right-nav-list {
  font-size: 1.6rem;
  display: flex;
  gap: 2.2em;
}

/* Hero Section */

.hero-one {
  padding: 3rem 0 6rem 0;
}

.hero-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.hero-title {
  font-size: 4.5rem;
  color: var(--white);
  line-height: 80%;
  margin-bottom: 1rem;
}

.hero-sub-title {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1rem;
}

.sign-up-button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--white);
  padding: 0.5em 1.5em;
  cursor: pointer;
  border-radius: 0.5rem;
}

.sign-up-button.hero-sign-up-button {
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
}

/* Main Two */

.hero-two {
}
